registry=http://registry.npm.taobao.org/
cache=C:\Develop\nodejs\node-cache
state-dir=C:\Develop\nodejs\node-cache\pnpm-state
store-dir=C:\Develop\nodejs\node-cache\.pnpm-store
global-bin-dir=C:\Develop\nodejs\bin
